@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100vw;
}

#app {
    height: 100vh;
    width: 100vw;
    background-image: url('../fluid.jpg');
    background-size: cover;

}


#card {
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    width: 70vw;
    min-height: 60vh;
    height: fit-content;
}

#hint_on_correct , #num{
    color: grey;
}


#buttons_bottom {
    padding-bottom: 1vw;
    padding-top: 1vw;

}

.whatever{

    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;

    display: flex;
    align-items: center;

    width: 100%;
    min-height: 40px;
    height: fit-content;
}

.vcenter-item{
    display: flex;
    align-items: center;
}

.answer_number {
    height: 5vh ;
    width: 5vw;
    background-color: #0D6EFD;
    border-radius: 10px 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vh;

}

.answer_text {
    width: 100%;
    background-color: #acacac;
    border-radius: 0 10px 10px 0;
    padding-left: 10px;
    color: black;
    height: 5vh;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#checkboxes input[type=checkbox]{
    display: none;
}


#checkboxes input[type=checkbox]:checked + .answer_text {
    background-color: white;
}

.correct {
    background-color: #009a00 !important;
    color: black !important;
}

.incorrect {
    background-color: #ff1919 !important;

}

#quiz-question {

    font-size: 2.5vh;
}
